.productWrapper{
    display:inline-flex;
}

.Product {
    font-family: 'Ubuntu', sans-serif;    
    background-color: #ffffff;
    border-radius: 0px;
    width: 250px;
    height: 350px;
    box-shadow: black;
    margin: 15px;
    /* border: solid 2px #8d8d8d; */

    /* --------- */
    /* padding: 20px;
    background-color: #fff;
    top: -1px;
    left: -1px;
    border-top: 40px solid #22252C;
    border-right: 40px solid transparent; */
    clip-path: polygon(
        0% 5%,
        10% 0,
        100% 0,
        100% 0%,
        100% 0%,
        100% 100%,
        0% 100%,
        0% 100%,
        0% 0%
      );
    transition: all 0.3s ease-in-out;
}

/* .Product::after{
box-shadow: 0 5px 15px rgba(0,0,0,1);
transition: opacity 0.3s ease-in-out;
} */

.Product:hover {
    transform: scale(1.01, 1.01);
    background-color: #e3e4ff;
  }


.productImg{
    cursor: pointer;
    width: 250px;
    height: 150px;
    object-fit: cover;
    /* border-radius: 40px 40px 0px 0px; */
    margin: 0px;
    margin-top: -15px;
    clip-path: polygon(
        0% 15%,
        8% 0,
        100% 0,
        100% 0%,
        100% 0%,
        100% 100%,
        0% 100%,
        0% 100%,
        0% 0%
      );
    /* -webkit-box-shadow: 0px -5px 5px 10px #000000; 
    box-shadow: 0px -5px 5px 10px #000000; */
}

.favIcon {
    width: 15px;
    background-color: none;
    border-style: none;
}

.favBtn {
    background: none;
    border: none;
}

.productName {
    color:rgb(56, 56, 56);
    font-size: 25px;
    text-align: left;
    padding-left:20px;
    margin-top: 5px;
}

.productCity{
    color:#6667AB;
    font-size: 15px;
    text-align: left;
    padding-left:20px;
    margin-top: -20px;
}

.deleteBtn{
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
    background-color: rgb(243, 60, 60);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
    margin-block-end: 5px;
    cursor: pointer;
}

.deleteBtn:hover{
    border-color:rgb(243, 60, 60) ;
    background-color: white;
    color: rgb(243, 60, 60);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}


.categoryBtn{
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 3px 6px;
    border-width: 1px;
    margin-right: 10px;
    position:relative;
    cursor: pointer;
}

/* CSS Formulario de creación de Productos */

.formProduct{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadImg{
    margin-top: 55px;
    margin-bottom: 55px;
}

.selectImg{
    background-color: yellow;
}

.uploadItem{
    padding:10px;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    transition: 0.3s;
    cursor: pointer;
}

.uploadItem:hover{
    border-color: green;
    background-color: white;
    color: green;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

