.avatarProfile{
    width: 120px;
    margin-top: 30px;
}

.backCard {
    font-family: 'Comfortaa';
    font-weight: 700;
    /* max-width: 420px; */
    /* display: flex; */
    /* justify-content: center;
    align-items: left;
    text-align: left; */
}

.itemsOnSwapp{
    font-size: 21px;
    padding-top: 20px;
    margin: 0px 15px;
}

.signedUp{
    margin-top: 50px;
}

.signedUpText{
    font-size: 12px;
}

.profileBtnsWrapper{
    display: flex;
    justify-content: center;
}

.editIcon {
    margin-left: 5px;
}

.logOutBtn {
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
  color: whitesmoke;
  font-weight: 700;
    border: none;
  background-color: #6667ab;
    clip-path: polygon(
        0% 18%,
        18% 0,
        100% 0,
        100% 0%,
        100% 0%,
        100% 100%,
        0% 100%,
        0% 100%,
        0% 0%
      );
}

