.SearchShortcut{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.searchShortcutsImg{
    margin: 5px;
    width: 50px; 
    cursor: cell;
}

.searchShortcuts-btn{
    border: none;
}