.SearchShortcut{
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
}

.searchShortcutsImg{
    margin: 5px;
    width: 50px; 
}

.searchShortcuts-btn{
    border: none;
}