.Searchbar{
  border-radius: 20px;
  background-color: white;
  position: absolute;
  margin-top: -460px;
  margin-left: 120px;
  justify-content: center;
  width: 20%;
  min-width: 300px;
}

.searchInput{
  border-radius: 20px;
  border: none;
  padding: 10px 30px 10px 30px;
  /* -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, inset 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, inset 5px 5px 15px 5px rgba(0,0,0,0); */
}

.searchBtn{
  font-size: 24px;
  position: relative;
  margin-left: 6%;
  border: none;
  border-radius: 100%;
  padding: 8px 10px;
  background-color: #6667ab;
  color: white;
}


@media (max-width:576px) {
  .Searchbar{
    margin-top: -410px;
    
    
  }
}