nav {
  display: flex;
  padding: 10px 120px;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #e3e4ff;
  font-weight: 300;
  
}

.logoWrapper {
  display: -ms-inline-flexbox;
}

.homeRefreshBtn{
  border: none;
  border-radius: 100%;
  background-color: rgba(245, 245, 245, 0);
}

.logoText {
  font-family: 'Comfortaa';
  color: #6667ab;
  font-weight: 700;
  margin: -5px;
}

.nav__projectName {
  color: #e4f9ff;
  text-decoration: none;
}

.authLink {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  color: #6667ab;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1.5em;
}

.authLink:hover {
  color: #ffffff;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: 600;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #6667ab;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #5a1c03;
}

.logo{
  width: 50px;
}



@media (max-width:769px){
  .authLink{
     
      display: none;
      
  }
}