nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #282c34;
  font-weight: 600;
}

.nav__projectName {
  color: #e4f9ff;
  text-decoration: none;
}

.authLink {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #ffffff;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #5595ff;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #d13e3e;
}


/* -------------------- LOG OUT BUTTON ---------------------- */
/* .corner-button {
  font-family: 'Lato', sans-serif;
  letter-spacing: .02rem;
  cursor: pointer;
  background: transparent;
  border: 0.5rem solid currentColor;
  padding: .5rem 1.5rem;
  font-size: 1rem;
  color: #06c17f;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  z-index: 5;
}
.corner-button:hover {
  color: pink;
}
.corner-button:hover::before {
  width: 0;
}
.corner-button:hover::after {
  height: 0;
}
.corner-button:active {
  border-width: 0.25rem;
}
/* .corner-button button {
  position: relative;
  z-index: 2;
} */
/* .corner-button::before, .corner-button::after {
  content: '';
  position: absolute;
  background: #282C34;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.corner-button::before {
  width: calc(100% - 3rem);
  height: calc(101% + 1rem);
  top: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.corner-button::after {
  height: calc(100% - 3rem);
  width: calc(101% + 1rem);
  left: -0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
} */
/* -------------------- LOG OUT BUTTON ---------------------- */
